<p id="notice"><%= notice %></p>

<p>
  <strong>Hi:</strong>
  <%= @user.first_name %>
  <strong>Here are your bids:</strong>
</p>
<p>

<h2>Current Bids</h2>
  <% @user.bids.each do |b| %>
     <p>
         Your bid amount for:
          <%= b.auction.title %>
        is:
         <%= b.bid_amount %>$
        - The highest bid for that auction is:
          <%= b.auction.highest_bid %>$
      </p>
  <% end %>

<%= link_to 'Back', users_path %>
